body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
header {
  padding: 7px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  border-bottom: 1px solid black;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
}
h1 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.App-logo {
  width: 70px;
  height: 70px;
}
.info_wishlist {
  text-align: center;
  color: grey;
}
.dark header {
  background-color: rgb(42, 53, 21);
}
.dark {
  height: 110vh;
  background-color: indigo;
}
.dark .tickers_box,
.dark .tikers_wrapper,
.dark .cart_wrapper {
  box-shadow: 0 0 10px white;
}
.dark .cart_wrapper,
.dark .tickers_box {
  background-color: cadetblue;
}
.dark h1,
.dark h2,
.dark .wishlist_ticker {
  color: white;
}

.themeColorWrapper img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.themeColorWrapper input {
  cursor: pointer;
}

.tikers_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 5px;
  height: 100%;
  border-radius: 0.25em 20px 20px 0.25em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-left: none;
  background-color: white;
  transition: 0.5s;
}
.tikers_wrapper:hover {
  transform: scale(1.1);
}
.all_tickers {
  padding-top: 40px;
}
.all_tickers h1 {
  text-align: center;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.btn-success {
  width: 90px;
  height: 100%;
}
.tickers_box {
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 20px;
}
.tickers_box:hover {
  transform: scale(1.1);
}

.load {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.load hr {
  border: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

.load :first-child {
  background: #19a68c;
  animation-delay: -1.5s;
}
.load :nth-child(2) {
  background: #f63d3a;
  animation-delay: -1s;
}
.load :nth-child(3) {
  background: #fda543;
  animation-delay: -0.5s;
}
.load :last-child {
  background: #193b48;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}
.red_color {
  position: relative;
  background-color: rgb(238, 184, 184);
  border: 1px solid red;
}
.green_color {
  position: relative;
  background-color: rgb(186, 227, 183);
  border: 1px solid green;
}
.green_color:after {
  content: "↑";
  color: green;
}
.red_color:after {
  content: "	↓";
  color: red;
}
.sort {
  margin: 40px 0;
}
.sort select {
  padding: 5px 10px;
}
.cart_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
  justify-content: space-around;
  margin: 5px 0;
  padding: 7px;
}

.red {
  color: red;
}
.blue {
  color: blue;
}
.yellow {
  color: rgb(182, 182, 43);
}
.green {
  color: green;
}
.tickers_title {
  text-align: center;
  margin-bottom: 40px;
}
.heart {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.title_heart_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
[data-tooltip] {
  position: relative;
}
[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  width: 100%;
  top: 0;
  margin-left: -150px;
  background: #3989c9;
  color: #fff;
  padding: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
}
[data-tooltip]:hover::after {
  opacity: 1;
  top: 10px;
}
.btn.btn-danger {
  margin-left: 10px;
}
